<div id="center">  
<h1>Login registration page in Angular Application</h1>
<p class="lead mb-4">
  This is simple angular application for user registration, login and
  profile components. <br> To design and develop this application we are using
  angular components and local <br> storage to store the user data.
</p>
<p class="lead mb-4">
  We are using local service to store the data to localstorage.
</p>
<br> <br>
<!-- Main content -->
<div>
  <button type="button" (click)="registerComponent()"> Register Now</button>
  &nbsp;&nbsp;
  <button type="button" (click)="login()"> Login </button>
</div>
<br>
</div>