<div id="center">
  <div class="register" class="text-center">
    <main class="form-signin">
      <form [formGroup]='form' (ngSubmit)="register()">
        <img class="mb-4" src="assets/ng.png" alt="" width="20%" />
        <h1 class="h3 mb-3 fw-normal">Register</h1>

        
          <label for="name">FullName: </label>
          <input type="text" class="form-control" formControlName="name" placeholder="Firstname Lastname" />
        <br><br>
     
          <label for="email">Email Id : </label>
          <input type="email" class="form-control" formControlName="email" placeholder="abc@gmail.com" />
        
        <br><br>
   
          <label for="password">Password: </label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password" />

    
        <br><br>
        <label for="gender" class="text-start mb-1"> Gender : </label>
        <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="male" />
        <label class="form-check-label" for="flexRadioDefault1"> Male </label>
        <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="female" />
        <label class="form-check-label" for="flexRadioDefault2"> Female </label>
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;
         <br><br>
         <label for="branch" class="text-start mb-1">Select Branch : </label>
        <select class="form-select mb-2" formControlName="branch" aria-label="Default select example">
          <option selected value="it"> I.T</option>
          <option value="cse">C.S.E.</option>
          <option value="mechanical">Mechanical</option>
          <option value="civil">Civil</option>
        </select>
        
        <br><br>
        <button [disabled]="loading" class="w-100 btn btn-lg btn-primary mt-2">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
        <p class="mt-5 mb-3 text-muted">Already Registered ?<a routerLink="/login">  Login here</a></p>
      </form>
    </main>
  </div>
</div>